<%= render 'admin/menu' %>
<div class="hero-unit">
   <h2><%= @email %> invited!</h2>
   <p>He will recieve an email with the invitation.</p>
   <p>Or you can deliver him the token: <%= text_field 'register', 'token', :value => @token%></p>
</div>