<div class="span4 left-menu">
  <div class="todo mrm" style="background-color:white"><ul>
    <li class="todo-content">
      <div class="icon-tasks"></div>
      <%= link_to Todo, :todo_index, :class => 'todo-name' %>
    </li>
    <li class="todo-content">
      <div class="icon-calendar"></div>
      <%= link_to Calendar, :calendar_index, :class => 'todo-name' %>
    </li>
    <li class="todo-content">
      <div class="icon-plane"></div>
      <%= link_to 'Map', :map_index, :class => 'todo-name' %>
    </li>
  </ul></div>
</div>