<%= render :partial => 'feed/menu' %>

<div>
  <%= render :partial => 'calendar/left_menu' %>
  <div class='span12'>
    <%= form_tag({:action => 'create'}, :method => :calendar) %>
    <%= render 'form' %>
  </div>
</div>
