// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.text-area-calendar {
  width: 640px;
  height: 320px;
}

.next-month {
  padding-bottom: 120px;
}

.calendar {
  margin-top: 20px;
}

.calendar td { height: 70px; width: 14.28%; }

.date-time {
  width:  750px;
}
