// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "flat-ui";
@import "font-awesome";

.post {
   padding-bottom: 12px;
}

.comments {
   padding-top: 5px;
   margin-left: 35px;
}

.date {
   margin-top: 2px;
   font-size: 11px;
}

.comment {
   padding-bottom: 10px;
}
