// Place all the styles related to the Todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.span12 {
  margin-right: -20px;
}
.add-task {
  padding-top: 30px;
  .new-task-label {
    width: 797px;
  }
}

.tasks {
  padding-top: 20px;
   .new-tasks {
     .task-checkbox {
	float: left;
     }
     .task-text {
	margin-left: 40px;
        margin-top: 5px;

     
      .task-destroy {
	 float: right;
	 margin-top: -3px;
      }
     }
   }
}

.task {
   margin-top: 10px;
   padding:2px 10px; 
   background:#dddddd;
   /*width:300px;*/
   border-radius: 5px;
}