<%= render :partial => 'feed/menu' %>
<div>
  <%= render :partial => 'calendar/left-menu' %>

  <div class="google-maps span12">
    <%= gmaps4rails(@json) %>
    <%= yield :scripts %>
  </div>
</div>